* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2%;
    justify-content: center;
    overflow: hidden;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(241, 234, 168));
}

.box-wrapper {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#box1 {
    font-family: Monospace;
    width: 200px;
    height: 200px;
    background: #f06d06;
    position: relative;
    border: 10px solid blue; 
    margin: 20px;
    text-shadow: 4px 4px #f35fdf;
    box-shadow: 10px 10px #888888;
}
#box1:hover {
    background-color: #3e8e41;
    color: white;
  }

#box2 {
    font-family: 'Courier New', Courier, monospace;
    padding: 8px;
    width: 200px;
    height: 200px;
    background: #f0ec06;
    position: relative;
    border: 5px solid rgb(0, 255, 234);  
    margin: 20px;
    box-shadow: 20px 20px 10px grey;
    text-transform: uppercase;
    animation: mymove 5s infinite;
}
#box2:hover {
    background-color: #eb8de6;
    color: white;
  }
  @keyframes mymove {
    from {left: 400px;}
    to {right: 0px;}
  }

#box3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    letter-spacing: -.15em;
    padding: 10px;
    width: 200px;
    height: 200px;
    background: #b6b6b4;
    position: relative;
    border: 5px solid rgb(29, 117, 36);  
    margin: 20px;
}
#box3:hover {
    background-color: #130a0a;
    color: white;
  }
